@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.Portfolio-Website-About-Me-Skills-Sections-heading1{
    color: #cced00;
}.Portfolio-Website-About-Me-Skills-Sections-heading2{
    color: #ffffff;
}
.Portfolio-Website-About-Me-Skills-Sections-content-para1{
    color: #9aa5b1;
}
.Portfolio-Website-About-Me-Skills-Sections-content-para2{
    color: #9aa5b1;
}
.Portfolio-Website-About-Me-Skills-Sections-skills-heading{
    color: #cced00;
}
.Portfolio-Website-About-Me-Skills-Sections-skills-cards{
    background-color: #323f4b;
    text-align: center;
    border-radius: 5px;
}
.Portfolio-Website-About-Me-Skills-Sections-skills-cards-heading{
    color: #ffffff;
}